<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navlinks">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BlueHorn</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li class="active" sec:authorize="isAnonymous()">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="active" sec:authorize="isAnonymous()">
            <a class="nav-link" href="/reigster">Register</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/add">Add Message</a>
        </li>
        <li  sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/feeds">Go to Feeds</a>
        </li>
        <li  sec:authorize="isAnonymous()">
            <a class="nav-link" href="/add">Add Message</a>
        </li>
        <li  sec:authorize="isAnonymous()">
            <a class="nav-link" href="/feeds">Go to Feeds</a>
        </li>

    </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAnonymous()"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/profile/{id}"> Welcome [[${user.firstName}]]!</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
    <div class="container-fluid text-center" id="footer">
    <p><h5> BlueHorn 2018--Designed by Elias Adhanom </h5></p>
    </div>
</nav>
</body>
</html>