<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Feeds Form</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: navlinks">
</div>
<div class="card text-center">
    <div class="card-header">
        Post
    </div>
    <div class="card-body" th:each="message : ${messages}">
        <th:h5 class="card-title">[[${message.sentBy}]] Said</th:h5>
        <th:p class="card-text">[[${message.content}]]</th:p>
        <th:div class="card-footer text-muted" >
            [[${message.postDate}]]
        </th:div>
    </div>

</div>
<div th:replace="base :: footer"></div>
</body>
</html>