<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Feeds Form</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: navlinks">
</div>
<table class="table">

    <tr>
        <th>Content</th>
        <th>Post Date</th>
        <th>Sent By</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.postDate}"></td>
        <td th:text="${message.sentBy}"></td>

    </tr>
</table>
</body>
</html>